//
   Created by Nick on 24.07.2017.
    Sing UP

extends layout

block content
            h2 #{header}
            if action == "register"
                #signUp
                    form(method="post" action="/auth/register")
                        input#inputUserName(type='text', placeholder='Name',name="name")
                        input#inputUserEmail(type='email', placeholder='Email',name="email")
                        br
                        input#inputUserPwd(type='password', placeholder='password',name="pwd")
                        input#inputUserConfirmPwd(type='password', placeholder='confirm password')
                        br
                        button#btnAddUser Sign Up
                a(href="/") Home
            else
                #enter
                    form(method="post" action="/auth/login")
                        input#inputUserEmail(type='email', placeholder='Email',name="email")
                        br
                        input#inputUserPwd(type='password', placeholder='password',name="pwd")
                        br
                        button#btnAddUser Enter
                a(href="/") Home
            p #{sessionAuth}