extends layout

block content

  div(class="start-block col-sm-12")
    div(class="col-sm-6 col-sm-offset-3")

  div(class="chart btn btn-default" id="chartETH") ETH
  div(class="chart btn btn-default" id="chartBTC") BTC

  script(type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js")
  script(type="text/javascript" src="/scripts/cvals.js")